//Overall dashboard table wrapper
.dashTable{
    display: inline-block;
    border: none;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
//Tab bar settings
.typeBar{
    background-color: #708090;
    display: block;
    width: 100%;
    height: 10%;
    border: none;
}

//Default options for both buttons
.subButton, .ownButton{
    background-color: #333;
    color:white;
    border: none;
    font-size: 2.2rem;
    vertical-align: bottom;
    height: 100%;
    width: 50%;
}

//Button hover effects
.subButton:hover, .ownButton:hover{
    font-weight: bold;
    cursor: pointer;
}

//If customer, show only 1 tab
.customer .subButton{
    width: 100%;
}
.customer .ownButton{
    display: none;
}

//If owner, show 2 tabs 
.owner .subButton, .owner .ownButton {
    display: inline-block;
    width: 50%;
}

//What to do with selected tab
.subTab .subButton, .ownTab .ownButton{
    font-weight: bold;
    font-size: 2.0rem;
    width: 51%;
}

//What to do with not selected tab
.subTab .ownButton, .ownTab .subButton{
    opacity: 0.7;
    font-size: 1.2rem;
    width: 49%;
    height: 55%;
}

//Hides table for unselected tab
.subTab ~ .displayTable .ownTrucks, .ownTab ~ .displayTable .subTrucks{
    display: none;
}

.subTab ~ .displayTable .subTrucks, .ownTab ~ .displayTable .ownTrucks {
    display: block;
}

//Parent div for tables
.displayTable{
    border: none;
    display: flex;
    height: 90%;
    background-color: #555555;
    overflow-y: auto;
}

//For both table <span>s
.ownTrucks, .subTrucks{
    width: 100%;
    height: 100%;
}

//Actual tables
.table{
    background-color:#555555;
    color: white;
    width: 100%;
}

//Table headings
.tableHeading{
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom-color: black;
}

//Adds borders between column headings
.tableHeading + .tableHeading {
    border-left: 2px black;
}

.tableBody{
    text-align: center;
}

//Table rows
.tableRow + .tableRow{
    border-top-color: black;
}

//No subs message
.noSub, .noOwn{
    display: none;
    text-align: center;
    color: white;
    font-size: 1.8rem;
}
//Shows if no subscriptions/owned trucks
.noSub ~ .noSub, .noOwn ~ .noOwn{
    display: block;
}

.own{
    display: block;
    text-align: center;
    color: white;
    font-size: 1.8rem;
}
