.wrapper {
    display: inline-block;
    height: 100%;
    width: 60%;
    vertical-align: top;
    padding: 15px;
}

//Overall dashboard table wrapper
.componentDashTable{
    width: 100%;
}
//Tab bar settings
.typeBar{
    background-color: #708090;
    display: block;
    width: 100%;
    height: 10%;
    border: none;
}

//Default options for both buttons
.subButton, .ownButton{
    background-color: #333;
    color:white;
    border: none;
    font-size: 1.8rem;
    vertical-align: bottom;
    height: 100%;
    padding: 5px;
}

//Button hover effects
.subButton:hover, .ownButton:hover{
    font-weight: bold;
    cursor: pointer;
}

//If customer, show only 1 tab
.customer .subButton{
    display: block;
    width: 100%;
}
.customer .ownButton{
    display: none;
}

//If owner, show 2 tabs 
.owner .subButton, .owner .ownButton {
    display: inline-block;
    width: 50%;
}

//What to do with selected tab
.subTab .subButton, .ownTab .ownButton{
    font-weight: bold;
    font-size: 2.0rem;
}

//What to do with not selected tab
.subTab .ownButton, .ownTab .subButton{
    opacity: 0.7;
    font-size: 1.2rem;
    height: 55%;
    vertical-align: bottom;
}

//Parent div for tables
.tablesDiv{
    width: 100%;
    border: none;
    height: 90%;
    background-color: #555555;
    overflow-y: auto;
}

//For both table <div>s
.ownTable, .subTable{
    display: none;
    width: 100%;
    height: 100%;
}

.ownTab ~ .tablesDiv .ownTable, .subTab ~ .tablesDiv .subTable {
    display: block;
}

//Actual tables
.table{
    background-color:#555555;
    color: white;
    width: 100%;
    border-collapse: collapse;
}

//Table headings
.tableHeading{
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom-color: black;
}

.tableHeading tr th{
    border-bottom: solid 2px black;
}

//Adds borders between column headings
.tableHeading + .tableHeading {
    border-left: solid 2px black;
}

.tableBody{
    text-align: center;
}

.msg {
    display: none;
    text-align: center;
    color: white;
    font-size: 1.8rem;;
}

.show {
    display: inherit;
}

//Table rows
.tableRow{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.tableRow + .tableRow tr td {
    border-bottom: solid 2px black;
}

.buttonColumn {
    width: 8%;
}

.tableButton {
    border: solid 2px black;
    width: fit-content;
    background-color: inherit;
    margin: 0 auto;
    font-size: 1.2rem;
    color: white;
    padding: 8px;
}

.tableButton:hover {
    background-color: #708090;
    cursor: pointer;
}

.ratingColumn{
    width: fit-content;
}

.starHolder {
    display: inline-block;
    max-height: 20px;
    max-width: 20px;
}

.star {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.confirmPopup{
    display: none;
    width: 25%;
    height: 10%;
}

.confShow{
    display: block;
    position: absolute;
    z-index: 99;
    background-color: white;
}

.confDeleteButton {
    text-align: center;
    font-size: 1.4rem;
}