.parent{
    text-align: center
}

.prefHead{
    color: #0F52BA;
    margin: 5px;
}

.prefBody{
    color: #000000;
}

.editButton{
    background-color: #90AACB;
    display:inline-block;
    width: 50%;
    margin-bottom: 10px;
}

.prefTableD{
    td{
        column-width: 50%;
        text-align: center;
    }
}