.userSection {
    position: relative;
    width: 100%;
    height: fit-content;
}

.username {
    font-weight: bold;
    text-align: center;
}

.usertype {
    text-align: center;
}

.username, .usertype, .prefHead, .savePrefs, .prefPopout {
    color: black;
}

.divider {
    border-color: #a9a9a9;
    border-width: 2px;
}

.prefHead {
    font-weight: bold;
    text-align: center;
}

.savePrefs, .prefPopout{
    background-color: #708090;
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
}

.savePrefs{
    height: 30px;
    font-weight: bold;
}

//For all buttons
.prefPopout{
    position: relative;
    margin-top: 5%;
    height: fit-content;
    width: 100%;
    font-size: 1.5rem;
}

.buttonText {
    float: left;
    font-weight: bold;
}

.buttonImage {
    position: absolute;
    width: 20%;
    right: 1%;
}

//Disallows buttonText/Images from being
//event targets
.buttonText, .buttonImage{
    pointer-events: none;
}


.prefPopout:hover, .savePrefs:hover{
    background-color: #708090;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

//Show choice selection/input for selected preference
.open .choice {
    display:block;
}

//For all choice buttons
.choiceButton{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    background-color: #a8a8a8;
    width: 100%;
    height: 10%;
    cursor: pointer;
}

//Location textboxes
.locTextBox{
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 240px;
    height: 32px;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    outline: none;
    text-overflow: ellipses;
    position: relative;
}

//General settings for all choice popouts
.choice{
    display: none;
    position: absolute;
    background-color: #a8a8a8;
    height: fit-content;
    left: 110%;
}

//Label and checkboxes
.choiceLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    height: fit-content;
    width: 160px;
    text-align: center;
}


//Hide initial boxes
.typeCheckbox, .typeRadio{
    visibility: hidden;
}

//Hover settings
.choiceLabel:hover input ~ .customBox{
    background-color: gray;
}
//Active settings
.choiceLabel:hover input:active ~ .customBox{
    background-color: white;
}

//Checked settings
.choiceLabel:hover input:checked ~ .customBox{
    background-color: #a9a9a9;
}
//Custom checkbox position
.customBox{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
}

//Custom checkbox 
.customBox:after {
    content: "";
    position: absolute;
    display: none;
}

//How to display checkmark
.choiceLabel input:checked ~ .customBox:after {
    display: block;
}
//Settings for checkmark
.choiceLabel .customBox:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 16px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





