.idea
.gradle
/out
/build
/target/classes
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/test-classes
/src/main/resources/application.properties
demo.iml
/application.properties
