.wrapper{
    display: block;
    text-align: center;
    height: 70%;
}

.body{
    background: #708090;
}

.dHeading{
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.userSection, .dashTable {
    display: inline-block;
    margin: 15px;
}

.userSection {
    width: fit-content;
    height: 100%;
}

.dashTable {
    width: 50%;
    vertical-align: top;
    height: 100%;
}