.bigWrap{
    background-color: #708090;
    height: 100vh;
}

.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.dHeading{
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.userSectionParent, .dashTableParent{
    background-color: white;
    position: static;
    display: inline-block;
    border: none;
}

.userSectionParent{
    height: fit-content;
    width: 10%;
    float: left;
    margin-right: 3%;
    padding: 1%;
}

.dashTableParent{
    width: 45%;
    float: right;
    margin-left: 3%;
}