.wrapper{
    display: block;
    text-align: center;
    height: 80%;
}

.body{
    background: #708090;
}

.dHeading{
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.userSection, .dashTable {
    display: inline-block;
    margin: 15px;
}

.userSection {
    width: fit-content;
    height: 100%;
}

.dashTable {
    width: 50%;
    vertical-align: top;
    height: 100%;
}

.mapSection {
    color: white;
    display: inline-block;
    position: relative;
    height: 80%;
    width: fit-content;
    padding: 15px;
}

.innerDiv{
    vertical-align: top;
    display: inline-block;
    background-color: #333;
    width: 100%;
    height: 100%;
}

.nearbyHeading{
    font-size: 1.2rem;
    height: 20%;
}

