.body {
  background: #a9a9a9;
}
.formnput {
  width: 300px;
  height: auto;
  background: white;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
.formelementinput {
  outline: none;
  height: 1.5rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: 0;
  line-height: 1.5;
  width: 100%;
  color: #333;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
}

.formelementinput::placeholder {
  color: #a6a6a6;
  transform: scale(0.9);
  transform-origin: left top;
}

.formelementbar {
  height: 1px;
  background: #999;
  position: relative;
  display: block;
}

.formelementbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #337ab7;
  height: 2px;
  display: block;
  transform: rotateY(90deg);
  transition: transform .28s ease;
  will-change: transform;
}

.formelementlabel {
  position: absolute;
  top: .85rem;
  line-height: 1.5rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-size: 1rem;
  margin: 0;
  color: #a6a6a6;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform .28s ease, color .28s linear, opacity .28s linear;
  will-change: transform, color, opacity;
  cursor: text;
}

.formelementhint {
  color: #aaa;
}

.formelementinput:valid ~ .formelementbar::after,
.formelementinput:focus ~ .formelementbar::after {
  transform: rotateY(0deg);
}
.formelementinput:valid ~ .formelementlabel,
.formelementinput:focus ~ .formelementlabel {
  color: #337ab7;
}
.formelementinput:valid,
.formelementinput:focus {
  opacity: 1;
}
.formelementinput:valid ~ .formelementlabel,
.formelementinput:focus ~ .formelementlabel {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px);
  cursor: pointer;
  pointer-events: auto;
}


.formissuccess .form-elementinput,
.formissuccess .form-elementlabel,
.formissuccess .form-elementhint {
  color: #259337;
}


.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
  color: #d9534f;
}

.form-has-error .form-element-bar:after {
  background: #d9534f;
}

.form-has-error .form-element-input.hasValue ~ .form-element-label,
.form-has-error .form-element-input:focus ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px);
  color: #d9534f;
  cursor: pointer;
  pointer-events: auto;
}